<h1>Reset your password</h1>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<%= form_with model: @user,
              url: password_reset_path(params[:id]),
              method: :patch,
              local: true do |f| %>

  <div>
    <%= f.label :password, "New password" %><br>
    <%= f.password_field :password %>
  </div>

  <div style="margin-top: 1rem;">
    <%= f.submit "Update password" %>
  </div>
<% end %>
