<h1>Choose a new password</h1>

<%= form_with model: @user,
              url: password_reset_path(params[:id]),
              method: :patch,
              local: true do |f| %>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "Update password" %>
  </div>
<% end %>

<p>
  <%= link_to "Back to login", login_path %>
</p>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
