<h1>Add Gift Idea for <%= @recipient.name %></h1>

<%= form_with model: [@recipient, @gift_idea] do |f| %>

  <% if @gift_idea.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(@gift_idea.errors.count, "error") %> prohibited this gift idea from being saved:</h2>
      <ul>
        <% @gift_idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit "Create Gift Idea" %>

    <button type="button" id="generate-ai-button">AI Gift</button>
  </p>

<% end %>

<%= link_to "Back to Recipients", recipients_path %>
