<%= render "devise/shared/auth_card", title: "Change Password" do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, "New password", class: "block font-medium mb-1" %>
      <% if @minimum_password_length %>
        <em class="text-gray-400">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "w-full border rounded px-3 py-2" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block font-medium mb-1" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full border rounded px-3 py-2" %>
    </div>

    <div>
      <%= f.submit "Change password", class: "w-full bg-gradient-to-r from-purple-400 to-indigo-500 text-white py-3 rounded-xl font-semibold hover:shadow-lg transition" %>
    </div>
  <% end %>
<% end %>
