<h1>Your Recipients</h1>

<p>
  Logged in as <%= current_user.email %> |
  <%= link_to "Log Out", logout_path, method: :delete, data: { turbo_method: :delete, confirm: "Are you sure you want to log out?" } %>
</p>

<%= link_to "Add Recipient", new_recipient_path %>

<ul>
  <% @recipients.each do |r| %>
    <li>
      <strong><%= r.name %></strong> – <%= r.description %>
      <%= link_to "Edit", edit_recipient_path(r) %> |
      <%= link_to "Delete", recipient_path(r), method: :delete,
                  data: { turbo_method: :delete, confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
