<h1>Your Events</h1>

<p>
  Logged in as <%= current_user.email %> |
  <%= link_to "View Profile", profile_path(current_user.profile) %> |
  <%= link_to "View Recipients", recipients_path %> |
  <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" } %>
</p>

<%= link_to "Add Event", new_event_path %>

<ul>
  <% @events.order(:date).each do |e| %>
    <li>
      <%= link_to "#{e.name} – #{e.date}", event_path(e) %>
    </li>
  <% end %>
</ul>
