<%= form_with model: gift_idea, url: url, local: true do |f| %>
  <% if gift_idea.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(gift_idea.errors.count, "error") %> prohibited this gift idea from being saved:</h2>
      <ul>
        <% gift_idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url %>
  </p>

  <p><%= f.submit submit_label || "Save" %></p>
<% end %>